* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.page {
	background-color: $bg-color;
	font-family: $primary-font;
	color: $primary-color;
}
.container {
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;

	// padding: 0 20px;
}

.card {
	margin-top: 100px;
}
.card__inner {
}

.card__content {
}
.card__content-up {
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
}
.card__content-image {
	width: 540px;
	border-radius: 30px;
}
.card__content-about {
}
.card__content-about-name {
}
.card__content-rating {
	margin-top: 20px;
	display: flex;
	// justify-content: space-between;
	align-items: center;
	gap: 30px;
}
.card__content-rating-mark {
	font-size: 28px;
	font-weight: 700;
}
.card__content-description {
	color: rgba(227, 227, 227, 0.6);
	font-size: 24px;
	font-weight: 400;
	max-width: 480px;
	margin-top: 20px;
}
.card__content-prices {
	margin-top: 20px;
	display: flex;
	align-items: center;
	gap: 30px;
}
.card__content-prices-new {
	font-size: 28px;
	font-weight: 700;
}
.card__content-prices-old {
	font-size: 28px;
	font-style: normal;
	font-weight: 700;
	color: #464646;
	text-decoration: line-through;
}
.card__content-prices-sale {
	color: #8b1414;
	font-size: 16px;
	font-weight: 700;
	padding: 5px 4px;
	background-color: #b86767;
	border-radius: 20px;
}

.card__content-button {
	display: inline-block;
	padding: 10px 20px;
	background-color: $secondary-color;
	color: $primary-color;
	border: none;
	border-radius: 20px;
	cursor: pointer;
	font-size: 16px;
	transition: background-color 0.3s;
	align-items: center;
	display: flex;
	margin-top: 20px;
}

.card__content-rewiew-image {
	width: 170px;
}

.card__content-rewiew {
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.card__content-rewiew-card {
	padding: 20px;
	background-color: #4f4f4f;
	border-radius: 20px;
	max-width: 520px;
}
.card__content-rewiew-card-upper {
	display: flex;
	justify-content: space-between;
}
.card__content-rewiew-name {
	font-size: 26px;
	font-weight: 700;
}
.card__content-rewiew-card-upper-rating {
	font-weight: 700;
	font-size: 26px;
	display: flex;
}
.card__content-rewiew-image {
}
.card__content-rewiew-mark {
}
.card__content-rewiew-about {
	font-size: 23px;
	font-weight: 300;
	max-width: 504px;
}
