* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.page {
	background-color: $bg-color;
	font-family: $primary-font;
	color: $primary-color;
}
.container {
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;

	// padding: 0 20px;
}
img {
	border-radius: 20px;
}
.card {
	padding-top: 120px;
}
.card__inner {
}
.container {
}
.card__content {
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.card__content-description {
}
.card__content-description-name {
	@include title-mixin(34px);
}
.card__content-description-rating {
	display: flex;
	align-items: center;
	gap: 35px;
}
.card__content-description-rating-mark {
	@include text-body(28px, 700);
}
.card__content-description-prices {
}
.card__content-description-prices-about {
	@include text-body(24px, 500);
	color: $card-description-color;
}
.card__content-description-prices-price {
	@include text-body(28px, 700);
}
.card__content-description-prices-old {
	@include text-body(16px, 700);
	color: #8b1414;
	padding: 5px;
	background-color: #b86767;
	border-radius: 20px;
	text-align: center;
}
.card__content-description-prices-sale {
	@include text-body(28px, 700);
}
.card__content-description-button {
}
