.container {
	padding: 14px 20px;
}
.about {
	margin-top: 40px;
	color: $primary-color;
}
.about-title {
	font-size: 35px;
}
.about__content {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 20px;
}

.about__content-pluses-plus {
	max-width: 336px;
	font-size: 18px;
	padding: 20px;
	background-color: $button-bg;
	border-radius: 20px;
	margin-top: 20px;
}

@media (max-width: $mobile-l) {
	.about__content {
		grid-template-columns: 1fr;
	}
	.about__content-pluses-plus {
		max-width: 724px;
		// font-size: 14px;
	}
}

@media (max-width: $mobile-l) {
	.about__content-pluses-plus {
		font-size: 14px;
	}
}
