@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');
@mixin mobile-link($primary-color) {
	color: $primary-color;
	text-decoration: none;
	font-weight: 500;
	font-size: 14px;
}

@mixin title-mixin($font-size) {
	font-weight: 700;
	font-size: $font-size;
}

@mixin text-body($font-size, $font-weight) {
	font-size: $font-size;
	font-weight: $font-weight;
	text-decoration: none;
	color: $primary-color;
}
