.container {
	padding: 14px 20px;
}

.footer {
	margin-top: 150px;
	background-color: $header-color;
	color: $primary-color;
}
.footer__content-left-input {
	padding: 16px 30px;
	background-color: #464646;
	border-radius: 60px;
	max-width: 220px;
}
