.hero__inner {
	padding: 20px;
}
.container {
}

.hero {
	margin-top: 90px;
	&__nav {
		display: flex;
		justify-content: space-between;
		align-items: center;
		&-locations {
			display: flex;
		}
		&-location {
			display: flex;
			&-flag {
				margin-right: 8px;
			}
			&-city {
				margin-right: 20px;
			}
		}
		&-btn {
			@include button($primary-color, $button-bg, 6px 8px);
			align-items: center;
			display: flex;
			text-decoration: none;
		}
		&-price {
			@include button($secondary-color, $primary-color, 2px 7px);
		}
	}
	&__content {
		position: relative;
		display: block;
		&-images {
			border-radius: 30px;
			margin-top: 20px;
			width: 100%;
		}
		&-about {
			max-width: 452px;
			padding: 34px;
			background-color: rgba(0, 0, 0, 0.5);
			border-radius: 20px;
			backdrop-filter: blur(5px);
			border: 1px solid rgba(244, 246, 250, 0.23);

			position: absolute;
			bottom: 0;
			left: 0;
			&-title {
				@include title-mixin(45px);
			}
			&-description {
				@include text-body(18px, 600);
			}
		}
	}
}

.links {
	text-decoration: none;
	text-align: center;
	align-items: center;
	display: flex;
	color: $primary-color;
}
// media
@media (max-width: $laptop) {
	.hero__content-about-title {
		@include title-mixin(38px);
	}
	.hero__content-about-description {
		font-size: 16px;
	}
}
@media (max-width: $tablet) {
	.hero__content {
		display: flex;
		flex-direction: column-reverse;
	}
	.hero__content-about {
		position: static;
		background-color: transparent;
		border: none;
		padding: 0;
		max-width: none;
	}
	.hero__content-about-title {
		@include title-mixin(40px);
		padding-bottom: 6px;
	}
	.hero__content-about-description {
		@include text-body(16px, 500);
	}
}
@media (max-width: $mobile-l) {
	.hero__content-about-title {
		@include title-mixin(32px);
		padding-bottom: 6px;
	}
	.hero__content-about-description {
		font-size: 14px;
	}
	.hero__nav-location-flag {
		margin-right: 2px;
	}
	.hero__nav-location-city {
		margin-right: 10px;
		font-size: 12px;
	}
	.hero__nav-price {
		font-size: 10px;
	}
	.hero__nav-btn {
		// ознакомиться нужно почему при миксине ломается
		font-size: 12px;
		padding: 6px 6px;
	}
	.hero__nav-btn_order {
		display: none;
	}
}

// xuy
