@mixin button($color, $background-color, $padding) {
	border-radius: 50px;
	color: $color;
	background-color: $background-color;
	padding: $padding;
	// font-size: $font-size;
	// можно подумать о том чтобы в миксин с кнопкой добавить размер шрифта
}
