@mixin button($color, $background-color, $padding) {
	border-radius: 50px;
	color: $color;
	background-color: $background-color;
	padding: $padding;
	// font-size: $font-size;
	// можно подумать о том чтобы в миксин с кнопкой добавить размер шрифта
}

@mixin text-body($font-size, $font-weight) {
	font-size: $font-size;
	text-decoration: none;

	font-weight: $font-weight;
	color: $primary-color;
}

// @import '@/vendor/fonts.scss';

// @mixin text-headline($font-size) {
// 	font-family: 'Integral CF', sans-serif;
// 	font-size: $font-size;
// 	text-decoration: none;
// 	text-transform: uppercase;
// 	font-weight: 900;
// 	color: #000;
// }

// @mixin text-body($font-size, $font-weight) {
// 	font-family: 'Satoshi', sans-serif;
// 	font-size: $font-size;
// 	text-decoration: none;

// 	font-weight: $font-weight;
// 	color: #000;
// }

// @mixin text-headline-logo {
// 	@include text-headline(32px);
// }

// @mixin text-headline-h1 {
// 	@include text-headline(64px);
// }

// @mixin text-headline-h2 {
// 	@include text-headline(48px);
// }
// @mixin text-headline-card {
// 	@include text-body(20px, 700);
// }

// @mixin text-body-prices {
// 	@include text-body(24px, 700);
// }

// @mixin text-body-fullPrice {
// 	@include text-body(24px, 700);
// 	color: rgba(#000, 0.4);
// }

// @mixin text-body-discount {
// 	@include text-body(12px, 700);
// 	color: #ff3333;
// 	padding: 6px 13px;
// 	background-color: rgba(#ff3333, 0.1);
// 	border-radius: 62px;
// }
