// @import '/src/scss/second-sections.scss';

.container {
	padding: 14px 20px;
}
.third {
	margin-top: 80px;
	&-title {
		font-size: 35px;
		color: $primary-color;
		padding-bottom: 15px;
	}
	&__content {
		justify-content: space-between;
		display: flex;
		&-buttons {
			display: flex;
			column-gap: 12px;
			overflow-y: auto;
			&-button {
				@include button($primary-color, $button-bg, 7px 15px);
				text-decoration: none;
			}
		}
	}
}

.third__content-buttons-button:hover {
	color: $secondary-color;
	transition: ease-in-out 0.3s;
}

.search-bar {
	max-width: 250px;
	width: 100%;
	background-color: $button-bg;
	display: flex;
	align-items: center;
	border-radius: 50px;
	border: 1px solid $primary-color;
}
.search-bar input {
	background-color: transparent;
	flex: 1;
	border: 0;
	outline: none;
	padding: 7px 12px;
	color: $primary-color;
}
::placeholder {
	color: transparent;
	color: $primary-color;
}
.search-bar button img {
}
.search-bar button {
	border: 0;
	background-color: transparent;
	margin-right: 10px;
}
// свайпер слайдер
.swiper {
	margin-top: 30px;
}
.swiper-slide {
	color: $card-description-color;
	max-width: 250px;
	border-radius: 20px;
	background-color: $button-bg;
}
.swiper-slide__link {
	text-decoration: none;
	color: $primary-color;
}
.swiper-slide__image {
	border-radius: 20px;
	// width: 266px;
}
.swiper-slide__about {
	color: $primary-color;
	background-color: $button-bg;
	max-width: 250px;
	border-radius: 20px;
	margin: 10px;
}
.swiper-slide__about-inner {
	margin: 10px 15px;
}
.swiper-slide__about img {
	color: $primary-color;
	border-radius: 20px;
	max-width: 232px;
}
.swiper-slide__about-inner-name {
	@include text-body(18px, 500);
}

.swiper-slide__about-inner-about {
	@include text-body(14px, 400);
	color: $card-description-color;
	margin-top: 10px;
}
.swiper-slide__about-inner-down {
	justify-content: space-between;
	display: flex;
	align-items: center;
	margin-top: 20px;
	padding-bottom: 10px;
}

.swiper-slide__about-inner-down-price {
	@include text-body(22px, 600);
	display: flex;
}
.swiper-slide__about-inner-down-btn {
	@include button($primary-color, $secondary-color, 7px 15px);
	text-decoration: none;
}

.swiper-pagination-bullet-active {
	background-color: $pagination-color;
}
// свайпер закончился
.third__more-btn {
	@include button($secondary-color, #ffe9dc, 10px 30px);
	text-decoration: none;
	margin-top: 40px;
	display: inline-block;
	float: inline-end;
}

// media
@media (max-width: $laptop) {
	.third {
		margin-top: 40px;
	}
	.search-bar {
		max-width: 220px;
	}
}
@media (max-width: $tablet) {
	.third {
		margin-top: 20px;
	}
	.third__content-buttons {
		column-gap: 10px;
	}
}

@media (max-width: $mobile-l) {
	.third {
		margin-top: 10px;
	}
	.third__content-buttons {
		column-gap: 13px;
	}
	.search-bar input {
		max-width: 120px;
	}
	.third__more-btn {
		display: block;
		float: none;
		text-align: center;
	}
}
@media (max-width: $mobile-s) {
	.search-bar {
		width: auto;
		align-items: center;
	}
	.search-bar input {
		display: none;
	}
	.search-bar button {
		margin: 2px 6px;
	}
	.third__content-buttons {
		column-gap: 10px;
	}
}
