$bg-color: #262626;
$header-color: #1d1d20;
$primary-color: #fff;
$secondary-color: #ff6b17;
$button-bg: #464646;
$primary-font: 'Inter', sans-serif;

// breakpoints
$laptop-l: 1440px;
$laptop: 1024px;
$tablet: 768px;
$mobile-l: 425px;
$mobile-m: 375px;
$mobile-s: 320px;
// /breakpoints
